<!DOCTYPE html>
<html>
  <head>
    <title>Be | Responsive HTML5 Portfolio Template</title>
    <meta charset='utf-8'>
    <meta content='Be is a responsive HTML5 Template suitable for any kind of business or freelance professional. Showcase your work, tell your story, get noticed online.' name='description'>
    <meta content='1 day' name='revisit-after'>
    <meta content='width=device-width, initial-scale=1' name='viewport'>
    <link rel="shortcut icon" href="favicon.ico?v=5" type="image/x-icon">
    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:100,400,300,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:100,400,300,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300' rel='stylesheet' type='text/css'>
    <!-- Styles -->
    <link href="/assets/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="/assets/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="/assets/style2.css" rel="stylesheet" type="text/css" />
    <!-- HTML5 fallbacks -->
    <!--[if lt IE 9]>
    <script src="javascripts/html5shiv.js" type="text/javascript"></script>
    <script src="javascripts/respond.min.js" type="text/javascript"></script>
    <![endif]-->
  </head>
  <body class='dark top-nav'>
    <%= render 'menus/header' %>
    <br>
    <br>
    <div class='col-md-12 mobile-center text-center'>
      <h2>Your Team</h2>
      <h4 class='subtitle'>Add a team member and keep track of their work hours</h4>
    </div>
    <hr>
    <div class='container-fluid'>
      <section class='top-line'>
        <div class='col-3' id='grid'>
          <a class='item transition abstract' href='portfolio-single.html' style='background-image: url("/assets/portraits/hipsterclinton.jpg");'>
            <div class='caption'>
              <h5 class='extra'>Head Chef</h5>
              <div class='titles'>
                <h3 class='title'>Hillary Clinton</h3>
                <h4 class='subtitle'>Mon Wed Thurs Fri</h4>
              </div>
            </div>
          </a>
          <a class='item transition threedee typography' href='portfolio-single.html' style='background-image: url("/assets/portraits/hipsterraegan.jpg");'>
            <div class='caption'>
              <h5 class='extra'>Dishwasher</h5>
              <div class='titles'>
                <h3 class='title'>Raeg Dog</h3>
                <h4 class='subtitle'>Mon Wed Thurs Fri</h4>
              </div>
            </div>
          </a>
          <a class='item transition threedee' href='portfolio-single.html' style='background-image: url("/assets/portraits/HipsterLenin.jpg");'>
            <div class='caption'>
              <h5 class='extra'>Bouncer</h5>
              <div class='titles'>
                <h3 class='title'>Lenny Lenin</h3>
                <h4 class='subtitle'>Fri Sat</h4>
              </div>
            </div>
          </a>
          <a class='item transition abstract' href='portfolio-single.html' style='background-image: url("/assets/portraits/hipsterabe.jpg");'>
            <div class='caption'>
              <h5 class='extra'>Runner</h5>
              <div class='titles'>
                <h3 class='title'>Abe Linco</h3>
                <h4 class='subtitle'>Mon Thurs Fri Sat</h4>
              </div>
            </div>
          </a>
          <a class='item transition threedee typography' href='portfolio-single.html' style='background-image: url("/assets/portraits/hipsterchinese.jpg");'>
            <div class='caption'>
              <h5 class='extra'>Greeter</h5>
              <div class='titles'>
                <h3 class='title'>This guy</h3>
                <h4 class='subtitle'>Mon Tues Wed Thurs Fri</h4>
              </div>
            </div>
          </a>
          <a class='item transition threedee' href='portfolio-single.html' style='background-image: url(/assets/portraits/hipsterghandi.jpg);'>
            <div class='caption'>
              <h5 class='extra'>Manager</h5>
              <div class='titles'>
                <h3 class='title'>Ghandi OnMe</h3>
                <h4 class='subtitle'>Mon Wed Fri</h4>
              </div>
            </div>
          </a>
        </div>
      </section>
      <a data-toggle="modal" data-target="#ItemModal"><section>
        <div class='bg faded'></div>
        <div class='content'>
          <div class='row'>
            <div class='col-md-12 text-center'>
              <h2>Add New Member +</h2>
            </div>
          </div>
        </div>
      </section></a>
      <footer class='gray text-center'>
        <div class='row'>
          <div class='col-md-12'>
            <a class='icon fa fa-twitter' href='#'></a>
            <a class='icon fa fa-behance' href='#'></a>
            <a class='icon fa fa-codepen' href='#'></a>
            <a class='icon fa fa-stumbleupon' href='#'></a>
            <a class='icon fa fa-facebook' href='#'></a>
            <a class='icon fa fa-linkedin' href='#'></a>
          </div>
        </div>
        <div class='row'>
          <div class='col-md-12'>
            <div class='copy'>&copy; 2015 Be. All Rights Reserved.</div>
          </div>
        </div>
      </footer>
    </div>

    <div class="modal fade" id="ItemModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h2 class="text-center"><img src="/assets/work/logo_dark.png" class="modal_logo"><br></h2>
          </div>
          <div class="modal-body row text-center">
            <h4 class="text-center">Create Item</h4>
            <%= render 'form' %>
          </div>
          <div class="modal-footer">
            <h6 class="text-center">Sweatpants<br><br>-Adam</h6>
          </div>
        </div>
      </div>
    </div>
    <script src="/assets/be/jquery.min.js" type="text/javascript"></script>
    <script src="/assets/be/jquery.easing.1.3.js" type="text/javascript"></script>
    <script src="/assets/be/loader.js" type="text/javascript"></script>
    <script src="/assets/be/jquery.mobile.custom.min.js" type="text/javascript"></script>
    <script src="/assets/be/isotope.pkgd.min.js" type="text/javascript"></script>
    <script src="/assets/be/bootstrap.js" type="text/javascript"></script>
    <script src="/assets/be/validation.js" type="text/javascript"></script>
    <script src="/assets/be/waypoints.min.js" type="text/javascript"></script>
    <script src="/assets/be/jquery.placeholder.js" type="text/javascript"></script>
    <script src="/assets/be/tera-slider.js" type="text/javascript"></script>
    <script src="/assets/be/tera-lightbox.js" type="text/javascript"></script>
    <script src="/assets/be/functions.js" type="text/javascript"></script>
  </body>
</html>
