.navbar-default {
  background-color: #2d2c2c;
}

.sidebar ul li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.27);
}

.nav>li>a:focus, .nav>li>a:hover {
  background-color: rgb(51, 51, 51);
  color: rgb(234, 222, 202)
}

.nav>li>a {
  font-family: 'Quicksand', sans-serif;
  font-size: 25px;
  color: #EAEAE5;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  background-color: #353535;
}

#wrapper {
  background-color: #2D2C2C;
}

.panel-primary>.panel-heading {
  background-color: #E4E2CD;
  border-color: rgba(236, 236, 236, 0);
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.panel-footer {
  border-top: 1px solid #E4E2CD;
  background-color: #FDFDFD;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.panel-primary {
  border-color: rgb(228, 226, 205);
  -webkit-box-shadow: 2px 2px 9px -1px rgba(107,107,107,1);
-moz-box-shadow: 2px 2px 9px -1px rgba(107,107,107,1);
box-shadow: 2px 2px 9px -1px rgba(107,107,107,1);
}

a {
  color: #BBBBBB
}

.panel-green .panel-heading {
  background-color: #CAC0B1;
  border-color: rgba(202, 192, 177, 0);
}

.panel-green a {
  color: #BBBBBB;
}

.panel-green {
  border-color: #CAC0B1;
}

div.panel.panel-green {
  -webkit-box-shadow: 2px 2px 9px -1px rgba(107,107,107,1);
-moz-box-shadow: 2px 2px 9px -1px rgba(107,107,107,1);
box-shadow: 2px 2px 9px -1px rgba(107,107,107,1);
}

/****************** CHECKOUT PAGEEEEE *******************/

table {
	font-size: 14px;
	font-family: "Arial", sans-serif;
	background-color: blue;
}

.height {
    min-height: 200px;
}

.icon {
    font-size: 47px;
    color: #5CB85C;
}

.iconbig {
    font-size: 77px;
    color: #5CB85C;
}

.table > tbody > tr > .emptyrow {
    border-top: none;
}

.table > thead > tr > .emptyrow {
    border-bottom: none;
}

.table > tbody > tr > .highrow {
    border-top: 3px solid;
}

.request-bill {
    width: 49%;
}
