// Place all the styles related to the menus controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.menu .menu-3{ padding-top: 99px; padding-bottom: 111px; position: relative; z-index: 2; background: #fff; }
.pad-small{ padding-top: 66px; padding-bottom: 66px; }
.pad-large{ padding: 250px 0px !important; }
.pad-small-bottom{ padding-bottom: 77px; }

.push-small{ margin-bottom: 11px; }
.push-large{ margin-bottom: 44px; }

.no-left-pad{ padding-left: 0px !important; }
.no-right-pad{ padding-right: 0px !important; }


/***** MENU *****/



#menu-container{
 background: white;
 height: 100%;
 margin-top: -40px;
}

.menu .columns:last-child{ float: left !important; }

.menu-title{ text-transform: uppercase; font-weight: bold; font-size: 13px; letter-spacing: 3px; color: #333; margin-bottom: 44px; }

.menu-item{ margin-bottom: 44px; }
.menu-item .title, .menu-item .price{ text-transform: uppercase; font-size: 11px; color: #333; font-weight: bold; letter-spacing: 1px; }
.menu-item .title{ margin-bottom: 17px; display: inline-block; }
.menu-item .price{ float: right; }
.menu-item p{ line-height: 24px; position: relative; font-size: 12px; color: grey; font-style: italic;}

.menu-dark{ background: #333; }
.menu-dark .title-style-1{ border-color: #fff; }
.menu-dark .title-style-1 span{ color: #fff; }
.menu-dark .sub-title{ color: #fff; }

.menu-dark .menu-item .title, .menu-dark .menu-item .price{ color: #fff; }
.menu-dark .line{ background: #fff; }
.menu-dark .span-holder{ background: #333; }
.menu-dark p{ color: #fff; }
.menu-dark .medium-4.columns{ padding: 0px 30px; }
.menu-dark .dietary{ background: #666; }

.menu-3 .columns:last-child{ float: none !important; }

.menu-filters{ overflow: hidden; display: inline-block; margin-bottom: 44px; }
.menu-filters li{ float: left; margin-right: 33px; text-transform: uppercase; cursor: pointer; padding: 3px 0px 3px 3px; font-weight: bold; font-size: 13px; letter-spacing: 3px; color: #333; list-style: none;}
.menu-filters li:last-child{ margin-right: 0px; }
.menu-filters li.active{ border-bottom: 1px solid #333;}

.narrow-menu{ overflow: hidden; display: width: 100%; text-align: left; display: none; }
.narrow-menu.active{ display: block; }
.narrow-menu .menu-item{ width: 100%; float: left; }
.narrow-menu .menu-item:nth-child(even){ padding-right: 0px; }

.dietary{ display: inline-block; width: 20px; height: 20px; font-size: 10px; background: #eee; border-radius: 50%; margin-bottom: -20px; color: #333; padding-left: 6px; line-height: 20px; }

.order-btn{
 position: absolute;
 top: 10px;
 right: 8px;
}

.order-btn {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #768d87 ), color-stop(1, #6c7c7c ));
    background:-moz-linear-gradient(top, #768d87 5%, #6c7c7c  100%);
    background:-webkit-linear-gradient(top, #768d87  5%, #6c7c7c 100%);
    background:-o-linear-gradient(top, #768d87 5%, #6c7c7c  100%);
    background:-ms-linear-gradient(top, #768d87 5%, #6c7c7c  100%);
    background:linear-gradient(to bottom, #768d87  5%, #6c7c7c 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#768d87 ', endColorstr='#6c7c7c ',GradientType=0);
    background-color:#768d87 ;
    border:1px solid #566963 ;
    display:inline-block;
    cursor:pointer;
    color:#ffffff ;
    font-family:Arial;
    font-size:19px;
    font-weight:bold;
    padding:5px 15px;
    text-decoration:none;
    text-shadow:0px 1px 0px #2b665e ;
}
.order-btn:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6c7c7c ), color-stop(1, #768d87 ));
    background:-moz-linear-gradient(top, #6c7c7c 5%, #768d87  100%);
    background:-webkit-linear-gradient(top, #6c7c7c  5%, #768d87 100%);
    background:-o-linear-gradient(top, #6c7c7c 5%, #768d87  100%);
    background:-ms-linear-gradient(top, #6c7c7c 5%, #768d87  100%);
    background:linear-gradient(to bottom, #6c7c7c  5%, #768d87 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6c7c7c ', endColorstr='#768d87 ',GradientType=0);
    background-color:#6c7c7c ;
}
.order-btn:active {
    position:relative;
    top:1px;
}

#myModal .panel{
 border-radius: 0px;
}
#myModal h1{
 text-decoration: underline;
 margin-top: -15px;
}
#myModal h5{
 position: absolute;
 top: 3px;
 left: 75px;
 font-size: 20px;
 font-weight: bold;
 color: white;
}
#myModal #price{
 position: absolute;
 top: 10px;
 left: 5px;
 font-size: 20px;
 font-weight: bold;
 color: white;
}

input.ordr-btn{
  font-size: 2em;
  font-family: 'Roboto Condensed', sans-serif;
  background-color: white;
  border: 0px;
  width: 100%;
  height: 75px;

}
input.ordr-btn label{
  margin-top: 10px;
}
